<!--hatchback.html-->
<html>
<body>
	<body bgcolor="yellow">
<fieldset id="fs">
<legend id="lg" align=center><u>hatchback </u></legend>
<font face="verdana">
<form>
<table align=center>
<marquee behavior="alternate"> Available HatchBack Cars</marquee>
<li><a href="baleno.html" target="centre">MARUTI SUZUKI BALENO<br></a></li><br>
<li><a href="swift.html" target="centre">MARUTI SUZUKI SWIFT<br></a></li><br>






</table>
</form>
</font>
<a href="home.html" target="left">Click here to go back to main page</a>
</body>
</html>

