
<html>
<head>

</head>


<body bgcolor="yellow">
<div align="center">
<fieldset id="fs"><legend id="lg" align=center>TYPES OF CARS AVAILABLE</legend>
	<marquee behavior="alternate">********HURRAY********</marquee>
<marquee behavior="alternate">BUY A CAR AT LOW PRICE</marquee>
<font face="verdana" size=4>
<table>
<tr><td>
<ol>

<li><a href="hatchback.html" target="centre">HATCH_BACK CARS<br></a></li><br>
<br><li><a href="suv.html" target="centre">SUV</a></li><br>
<br><li><a href="crossover.html" target="centre">CROSSOVER</a></li><br>
<br><li><a href="coupe.html" target="centre">COUPE</a></li><br>
<br><li><a href="minivans.html" target="centre">MINI VANS</a></li><br>
</ol>
</td></tr>
</table>
</font>
</fieldset>
</div>
</body>
</html>