<!--suv.html-->
<html>
<body>
	<body bgcolor="gray"><fieldset id="fs">
<legend id="lg" align=center><u>suv</u></legend>
<font face="verdana">
<form>
<table align=center>
<marquee behavior="alternate"> Available Suv Cars</marquee>
<li><a href="xuv500.html" target="centre">MAHINDRA XUV500<br></a></li><br>
<li><a href="thar.html" target="centre">MAHINDRA THAR<br></a></li><br>
</table>
</form>
</font>
<a href="home.html" target="left">Click here to go back to main page</a>
</body>
</html>
